name: Build & Tests
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

env:
  GO_VERSION: 1.21.5

jobs:     
  project_build:
    name: TerraForge Build
    permissions:
      contents: read
      issues: read
      checks: write
      pull-requests: write
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      -  name: Set up Go ${{ env.GO_VERSION }}
         uses: actions/setup-go@v6
         with:
           go-version: ${{ env.GO_VERSION }}
           cache-dependency-path: go.sum 

      - name: Display Go version
        run: go version

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.60

      - name: Build Terraforge
        run: |
          chmod +x ci/scripts/terraforge-build.sh
          ci/scripts/terraforge-build.sh build

  project_test:
    name: TerraForge Test
    needs: project_build
    permissions:
      contents: read
      issues: read
      checks: write
      pull-requests: write
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      -  name: Set up Go ${{ env.GO_VERSION }}
         uses: actions/setup-go@v6
         with:
           go-version: ${{ env.GO_VERSION }}
           cache-dependency-path: go.sum 

      - name: Install dependencies
        run: go mod tidy

      - name: Test Terraforge
        run: |
          chmod +x ci/scripts/terraforge-test.sh
          ci/scripts/terraforge-test.sh dist

      - name: Upload test results to GHA summary
        run: |
          echo '### Coverage Summary' >> $GITHUB_STEP_SUMMARY
          cat dist/coverage-summary.txt >> $GITHUB_STEP_SUMMARY
          echo '---' >> $GITHUB_STEP_SUMMARY

      - name: Upload HTML coverage report
        uses: actions/upload-artifact@v6
        with:
          name: html-coverage-report
          path: dist/coverage.html